{% extends 'base.html' %}

{% block title %}Dashboard - GymApp{% endblock %}

{% block content %}
<h2>Benvenuto nella tua dashboard!</h2>

<div class="list-group mt-4">
  <a href="{{ url_for('allenamento') }}" class="list-group-item list-group-item-action">Allenamenti</a>
  <a href="{{ url_for('schede') }}" class="list-group-item list-group-item-action">Schede</a>
  <a href="{{ url_for('progressi') }}" class="list-group-item list-group-item-action">Progressi</a>
  <a href="{{ url_for('weight') }}" class="list-group-item list-group-item-action">Traccia il peso</a>
</div>
{% endblock %}
