{% extends 'base.html' %}

{% block title %}Progressi - GymApp{% endblock %}

{% block content %}
<h2>Progressi</h2>

{% if message %}
  <div class="alert alert-info">{{ message }}</div>
{% else %}
  <div class="row">
    <div class="col-md-6">
      <h4>Andamento peso medio per esercizio</h4>
      <img src="data:image/png;base64,{{ plot_ex }}" alt="Grafico esercizi" class="img-fluid" />
    </div>
    <div class="col-md-6">
      <h4>Volume totale per gruppo muscolare</h4>
      <img src="data:image/png;base64,{{ plot_muscle }}" alt="Grafico gruppi muscolari" class="img-fluid" />
    </div>
  </div>

  <hr>

  <h5>Statistiche riepilogative</h5>
  <ul>
    <li>Allenamenti effettuati: {{ total_sessions }}</li>
    <li>Massimo peso sollevato: {{ max_weight }} kg</li>
  </ul>
{% endif %}
{% endblock %}
